@import "~normalize-scss/sass/normalize/_import-now.scss";
 // your style goes here

 body {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }
 img {
   max-width: 100%;
   height: auto;
 }
 .sidenav {
   height: 100%;
   width: 0;
   position: fixed;
   z-index: 1;
   top: 0;
   right: 0;
   background-color: white;
   overflow-x: hidden;
   transition: 0.5s;
   padding-top: 60px;
 }

 .sidenav a {
   padding: 8px 8px 8px 32px;
   text-decoration: none;
   font-size: 25px;
   color: green;
   display: block;
   transition: 0.3s;
 }

 .sidenav a:hover {
   color: #f1f1f1;
 }

 .sidenav .closebtn {
   position: absolute;
   top: 0;
   right: 25px;
   font-size: 36px;
   margin-left: 50px;
 }
 header {
 display: flex;
 justify-content: space-between;
 margin: 2% 4%;
 }
 .crveno {
 width: 60%;
 background-color: #FE5B60;
 height: 60vh;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 padding: 1%;
 }
 .plavo {
 background-color: #2979FF;
 width: 30%;
 height: 30vh;
 padding: 1%;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 }
 .ljubicasto {
 background-color: #7152C6;
 height: 30vh;
 width: 60%;
 padding: 1%;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 }
 .zuto {
 background-color: #FFD400;
 width: 50%;
 height: 30vh;
 padding: 1%;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 }
 .belo {
 background-color: green;
 margin-left: 50%;

 height: 30vh;
 display: flex;
 align-items: center;
 }
 main#desktop {
 display: flex;
 margin: 2% 4%;
 align-items: center;
 }
 main#mobile {
 display: none;
 }
 .levo {
 width: 40%;
 }
 .desno {
 width: 60%;
 border: 2px solid green;
 }
 #gornjideo {
 display: flex;

 }
 .gddesno {
 display: flex;
 flex-direction: column;
 border: 1px solid blue;
 width: 40%;
 }
 #donjideo {
 display: flex;

 }

 #prvideo {
 background-color: #A687FB;
 margin: 2% 4%;
 }
 .red1 {
 padding: 3%;
 display: flex;
 align-items: center;
 justify-content: space-around;
 }
 .red1 div {
 width: 40%;
 }
 #prvideo h1 {
 text-align: center;
 }
 #drugideo {
 margin: 2% 0;
 }
 .pozadina {
 background-color: #C0EBFB;
 padding: 2% 4% 0 4%;
 }
 .pozadina h1 {
 text-align: center;
 }
 .red2 {
 display: flex;
 justify-content: space-between;
 }
 .polje2, .polje22 {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-between;
 border: 1px solid black;
 }
 .polje2 {
 width: 28%;
 }
 .polje22 {
 width: 28%;
 }
 .polje22 p {
 padding: 1% 4%;
 }
 .vl1 {
 border-left: 1px solid black;
 height: 100px;
 margin-left: 75%;
 }
 .vl2 {
 border-left: 1px solid black;
 height: 100px;
 margin-left: 50%;
 }
 .vl {
 border-left: 1px solid black;
 height: 100px;
 }
 .red22 {
 display: flex;
 justify-content: space-between;
 padding: 0 4%;
 }
 #trecideo {
 margin: 2% 4%;
 border-top: 1px solid red;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 2%;
 }
 footer {
 background-color: #445EA0;
 display: flex;
 padding: 3% 4%;
 justify-content: space-between;
 }
 form {
 display: flex;
 flex-direction: column;
 }
 button {
 width: 70px;
 }
 form div {
 display: flex;
 justify-content: flex-end;
 }
 @media screen and (max-width: 750px) {
 main#desktop {
 display: none;
 }
 main#mobile {
 display: flex;
 }
 }
 @media screen and (max-height: 450px) {
   .sidenav {padding-top: 15px;}
   .sidenav a {font-size: 18px;}
 }
